:root{
    --border-color: #373745;
    --primary-button-bg:#745cec;
    --secondry-button-bg: #494174;
    --primary-text: #fff;
    --secondry-menu-bg: #262644;
    --primary-heading: #6455D7;
    --primary-icon-bg: #151A3F;
    --secondry-cards: #131331;
    --primary-market-bg: #101227;
    --secondry-market-text: #757681;
    --down-arrow: #3bd4a3;
    --up-arrow: #f11d03;
    --social-icon-bg: #292C3B;
}