// fonts
$fonts14: 14px;
$fonts18: 18px;
$fonts20: 20px;
$fonts60: 60px;
$fonts40: 40px;
$fonts22: 22px;


// line-height
$line-height65: 65px;
$line-height40: 40px;

// height
$height100: 100%;


// width
$width100: 100%;
$width49: 49%;




// border-radius
$border-radius30: 30px;
$border-radius5: 5px;
$border-radius10: 10px;
$border-radius100: 100%;



// transition
$transition01: all 0.5s ease-out;




